html{
  scroll-behavior: smooth;
  width: 100%;
}
body{
  width: 100%;
  overflow-x: hidden;
  min-width: 100vw;
  overflow-y: scroll;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.banner{
  width: 100%;
  height: auto;
}

.services--card{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    gap: 50px;
    margin: 2rem;
    
}

.item {
  flex: 0 0 auto; 
  border-radius: 50px;
}

.intro--info{
  margin: 2rem;
  padding: 2em;
}


#about, #contact{
  background-color: #1E1E21;
  color: #fff;
  margin: 2rem;
  padding: 2em;
  border-radius: 40px;
}

.about--para{
  font-weight: 200;
  text-align: center;
}.about--subheader{
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.5em;
}.about--header, .contact--header{
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.5em;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:100px
}

.link{
  color: #fff;
  width: 10px;
  height: auto;
}

.logo{
  margin: 0 auto;
}

@media screen and (min-width: 480px){
  .logo{
    margin: 0;
  }
}


